<!DOCTYPE html>
<html>
  <head>
    <title>Sensor Web Server</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div>
      <h1>Sensor Web Server</h1>
    </div>
    <div>
      Last Proximity Alarm: {{ current_prox }}
      <br>
      Last Doorbell Ring: {{ current_ring }}
      <br>
      Is Door Opened or Closed? {{ current_state }}
      <br>
      <form method="post" action="/">
        <input type="submit" value="TRUE" name="unlock"/>
      </form>
    </div>
  </body>
</html>

