body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #333333;
}

#header {
	color: white;
	background-color: #282923;
}

#borderHead
{
	background-color: orange;
	height: 4px;
}

#content {
	color: white;
	background-color: #333333;
	font-size: 30px;
}